/* .main{
    width: 220px;
    height: 220px;
    background-color: rgb(107, 117, 114);
    margin-top: -20px;
    align-items: center;
    margin: 50% auto;border-radius: 5px;
}
.main #form{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
} */

